<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>main.s</string>
		<string>linkscript.s</string>
		<string>Makefile</string>
		<string>make/config.txt</string>
		<string>make/createDiskImage</string>
		<string>make/head.mk</string>
		<string>make/launchEmulator</string>
		<string>make/merlin-asm</string>
		<string>make/orca-rez</string>
		<string>make/system601.2mg</string>
		<string>make/tail.mk</string>
                <string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.s</key>
		<dict>
			<key>Path</key>
			<string>main.s</string>
		</dict>
		<key>linkscript.s</key>
		<dict>
			<key>Path</key>
			<string>linkscript.s</string>
		</dict>
		<key>make/config.txt</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/config.txt</string>
		</dict>
		<key>make/createDiskImage</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/createDiskImage</string>
		</dict>
		<key>make/head.mk</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/head.mk</string>
		</dict>
		<key>make/launchEmulator</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/launchEmulator</string>
		</dict>
		<key>make/merlin-asm</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/merlin-asm</string>
		</dict>
		<key>make/orca-rez</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/orca-rez</string>
		</dict>
		<key>make/system601.2mg</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/system601.2mg</string>
		</dict>
		<key>make/tail.mk</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/tail.mk</string>
		</dict>
		<key>Makefile</key>
		<dict>
			<key>Path</key>
			<string>Makefile</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
		<dict>
			<key>Group</key>
				<array>
					<string>Supporting Files</string>
				</array>
			<key>Path</key>
			<string>___PACKAGENAME___.xcscheme</string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.halcyontouch.apple2gsMerlinCDA</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.externalBuildSystem</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
        <string>This template creates an Apple IIgs Merlin code project to build a classic desk accessory.  The project starts with a single assembly file which you can modify.  You can also add more assembly files as you may like.</string>
	<key>Options</key>
	<array/>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLegacyTarget</string>
			<key>BuildToolPath</key>
			<string>___VARIABLE_buildToolPath___</string>
			<key>BuildToolArgsString</key>
			<string>-C ___PACKAGENAME___ $(ACTION)</string>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string></string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>0</string>
				</dict>
				<key>Release</key>
				<dict/>
			</dict>
                </dict>
                <dict>
                        <key>ProductType</key>
                        <string>com.apple.product-type.tool</string>
                        <key>TargetIdentifier</key>
                        <string>com.apple.dt.commandLineToolTarget</string>
                        <key>Name</key>
                        <string>Binary</string>
                        <key>SharedSettings</key>
                        <dict>
                                <key>PRODUCT_NAME</key>
                                <string>___PACKAGENAME___</string>
                        </dict>
                </dict>
                <dict>
                        <key>ProductType</key>
                        <string>com.apple.product-type.tool</string>
                        <key>TargetIdentifier</key>
                        <string>com.apple.dt.commandLineToolTarget</string>
                        <key>Name</key>
                        <string>DiskImage</string>
                        <key>SharedSettings</key>
                        <dict>
                                <key>PRODUCT_NAME</key>
                                <string>___PACKAGENAME___.2mg</string>
                        </dict>
                </dict>
                <dict>
                        <key>ProductType</key>
                        <string>com.apple.product-type.tool</string>
                        <key>TargetIdentifier</key>
                        <string>com.apple.dt.commandLineToolTarget</string>
                        <key>Name</key>
                        <string>doNotBuild</string>
                        <key>SharedSettings</key>
                        <dict>
                                <key>PRODUCT_NAME</key>
                                <string>doNotBuild</string>
                                <key>GCC_PREPROCESSOR_DEFINITIONS</key>
                                <string>inline(X,Y)=""
                                        extended=double
                                        pascal=""</string>
                                <key>HEADER_SEARCH_PATHS</key>
                                <string>$GOLDEN_GATE/Libraries/ORCACDefs
                                        ~/Library/GoldenGate/Libraries/ORCACDefs
                                        /Library/GoldenGate/Libraries/ORCACDefs
                                        ~/GoldenGate/Libraries/ORCACDefs</string>
                        </dict>
                        <key>BuildPhases</key>
                        <array>
                                <dict>
                                        <key>Class</key>
                                        <string>Sources</string>
                                </dict>
                                <dict>
                                        <key>Class</key>
                                        <string>Frameworks</string>
                                </dict>
                                <dict>
                                        <key>Class</key>
                                        <string>CopyFiles</string>
                                        <key>DstPath</key>
                                        <string>/usr/share/man/man1/</string>
                                        <key>DstSubfolderSpec</key>
                                        <string>0</string>
                                        <key>RunOnlyForDeploymentPostprocessing</key>
                                        <string>YES</string>
                                </dict>
                        </array>
                </dict>
	</array>
</dict>
</plist>
