<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>main.s</string>
		<string>Makefile</string>
		<string>make/head.mk</string>
		<string>make/orca-asm</string>
		<string>make/orca-cc</string>
		<string>make/orca-macgen</string>
		<string>make/orca-rez</string>
		<string>make/tail.mk</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.s</key>
		<dict>
			<key>Path</key>
			<string>main.s</string>
		</dict>
		<key>make/head.mk</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/head.mk</string>
		</dict>
		<key>make/orca-asm</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/orca-asm</string>
		</dict>
		<key>make/orca-cc</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/orca-cc</string>
		</dict>
		<key>make/orca-macgen</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/orca-macgen</string>
		</dict>
		<key>make/orca-rez</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/orca-rez</string>
		</dict>
		<key>make/tail.mk</key>
		<dict>
			<key>Group</key>
			<string>make</string>
			<key>Path</key>
			<string>make/tail.mk</string>
		</dict>
		<key>Makefile</key>
		<dict>
			<key>Path</key>
			<string>Makefile</string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.halcyontouch.apple2gsAsmShellCommand</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.externalBuildSystem</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates an Apple IIgs assembly code project to build an ORCA or GNO shell command.  The project starts with a single assembly file which you can modify.  You can also add more assembly or C files as you may like.</string>
	<key>Options</key>
	<array/>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLegacyTarget</string>
			<key>BuildToolPath</key>
			<string>___VARIABLE_buildToolPath___</string>
			<key>BuildToolArgsString</key>
			<string>-C ___PACKAGENAME___ $(ACTION)</string>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string></string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>0</string>
				</dict>
				<key>Release</key>
				<dict/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
